{% load staticfiles %}
{% load bootstrap %}
{% load googlecharts %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasker</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href={% static "/materialize/css/materialize.min.css"%} media="screen,projection" />
     <!--Bootstrap Styles>-->
    <link href={% static "/css/bootstrap.css"%} rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href={% static "/css/font-awesome.css"%} rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href={% static "/js/morris/morris-0.4.3.min.css"%} rel="stylesheet" />
    <!-- Kanban -->
    <link href={% static "/css/Kanban.css"%} rel="stylesheet" />
    <!-- Custom Styles-->
    <link href={% static "/css/custom-styles.css"%} rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href={% static "/css/jquery-ui-1.8.4.css"%} />
    <link rel="stylesheet" type="text/css" href={% static "/css/jquery.ganttView.css"%} />

    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href={% static "/js/Lightweight-Chart/cssCharts.css"%}>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>


</head>

{% block javascript %}
        <script type="text/javascript">
            function openbox(id){
                display = document.getElementById(id).style.display;
                if(display=='none'){
                   document.getElementById(id).style.display='block';
                }else{
                   document.getElementById(id).style.display='none';
                }
            }
        </script>

{% endblock %}

</head>

<body>
    <div id="wrapper">

                 {% if user.is_authenticated %}
                {% profile_menu user%}
                {% project_recent_list request user project %}{% endif %}

                {% block content %}
                {% endblock %}

     {% if user.is_authenticated %}


        <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
        </a>
        <ul>
            <li>
                <button type="button" class="btn-floating red create-task" data-toggle="modal" data-target="#modal-task" onclick="UpdateTask('{% url 'task_create'%}')">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </li>
        </ul>
      </div>

                 <div class="modal fade" tabindex="-1" role="dialog" id="modal-task" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                    <p></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    </div>
    {% endif %}

            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src={% static "/js/jquery-1.10.2.js"%}></script>

	<!-- Bootstrap Js -->
    <script src={% static "/js/bootstrap.min.js"%}></script>

	<script src={% static "/materialize/js/materialize.min.js"%}></script>

    <!-- Metis Menu Js -->
    <script src={% static "/js/jquery.metisMenu.js"%}></script>
    <!-- Morris Chart Js -->
    <script src={% static "/js/morris/raphael-2.1.0.min.js"%}></script>
    <script src={% static "/js/morris/morris.js"%}></script>


	<script src={% static "/js/easypiechart.js"%}></script>

	 <script src={% static "/js/Lightweight-Chart/jquery.chart.js"%}></script>

    <!-- Custom Js -->
    <script src={% static "js/parse_date_js.js" %}></script>

    <script src={% static "js/custom-scripts.js"%}></script>
    <script src={% static "js/main.js"%}></script>

    <script type="text/javascript" src={% static "js/date.js"%}></script>
    <script type="text/javascript" src={% static "js/jquery-ui-1.8.4.js"%}></script>
	<script src={% static "/js/bootstrap.js"%}></script>

    	 <!-- DATA TABLE SCRIPTS -->
    <script src="{% static "js/dataTables/jquery.dataTables.js"%}"></script>
    <script src="{% static "js/dataTables/dataTables.bootstrap.js"%}"></script>
    <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>

</body>

</html>