{% extends 'JtdiTASKS/base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}
<div id="page-wrapper">
		  <div class="header">
                        <h1 class="page-header">
                            Новая задача
                        </h1>
        </div>

            <div id="page-inner">
            <div class="row">
        <div class="col-md-6">
            <div class="card">
                        <div class="card-action">
                            Профиль
                        </div>
                        <div class="card-content">
                            <div class="form-group" ng-app="myAppName" ng-controller="MainCtrl">
			  					<form method="POST" class="form" action="">
                                    {% csrf_token %}
                                    <!--<div class="form-group" >-->
                                        {{ form|bootstrap }}
                                        {%  verbatim  %}
                                        <span>Распознано как:</span> <b>{{dt=jsParseDate(data.myinput); dt.title}}</b><br/>
                                        <span>Дата:</span> <b>{{dt.date.toLocaleString()}}</b>
                                        {%  endverbatim  %}
                                    <div class="action">
                                        <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
	  			</div>
	  		</div>
</div>
</div>
{% endblock content %}