{% load googlecharts %}
{% load bootstrap %}
<div class="dropdown">
  <i data-toggle="dropdown">
  <span class="caret"></span></i>
  <ul class="dropdown-menu">
    <li>
        <div class="col-md-12 col-sm-12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <fieldset>
                        <form method="POST" class="form"> {% csrf_token %}
                            {{ project_rename_form|bootstrap }}
                            <button type="submit" class="save btn btn-primary">Переименовать</button>
                        </form>
                    </fieldset>
                    <fieldset>
                        <form method="POST" class="form"> {% csrf_token %}
                            {{ project_invite_form|bootstrap }}
                            <button type="submit" class="save btn btn-primary">Пригласить</button>
                        </form>
                    </fieldset>
                </div>
                <div class="card-action">
                    <a href="{% url 'project_del' pk=project %}"><i class="glyphicon glyphicon-trash"></i> Удалить проект</a>
                </div>
            </div>
        </div>
    </li>
  </ul>
</div>
