{% extends 'JtdiTASKS/base.html' %}
{% load staticfiles %}
{% block content %}

		  <div class="col-md-10">
            <div class="row">
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Задачи проекта - {{ project_object.title }}</div>

							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<table class="table">
				              <thead>

				                <tr>
				                  <th>Задача</th>
				                  <th>Расшифровка</th>
				                  <th>Дата начала</th>
                                  <th>Время начала</th>
				                </tr>
				              </thead>
				              <tbody>
                              {% for task in tasks %}
                                <tr>
                                    <td><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></td>
                                    <td>{{ task.description|linebreaksbr }}</td>
                                    <td>{{ task.date }}</td>
                                    <td>{{ task.time }}</td>
                                    <td><a href="{% url 'task_finish' pk=task.pk %}" data-rel="collapse"><i class="glyphicon glyphicon-flag"></i></a></td>
                                    <td><a href="{% url 'task_edit' pk=task.pk %}" data-rel="collapse"><i class="glyphicon glyphicon-cog"></i></a></td>
                                    <td><a href="{% url 'task_del' pk=task.pk %}" data-rel="collapse"><i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                              {% endfor %}
				              </tbody>
				            </table>
                            <div>

                                <a href="{% url 'project_task_new' project=project%}" data-rel="collapse"><i class="glyphicon glyphicon-plus-sign" style="font-size: 30px"></i></a>
                            </div>
		  				</div>
		  			</div>
  				</div>
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Завершенные</div>

							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<table class="table table-striped">
				              <thead>
				                <tr>
				                  <th>Задача</th>
				                  <th>Расшифровка</th>
				                  <th>Дата начала</th>
                                  <th>Дата завершения</th>
				                </tr>
				              </thead>
				              <tbody>
				                {% for task in tasks_finish %}
                                <tr>
                                    <td><i class="glyphicon glyphicon-ok"></i><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></td>
                                    <td>{{ task.description|linebreaksbr }}</td>
                                    <td>{{ task.date }}</td>
                                    <td>{{ task.date_finish }}</td>
                                </tr>
                              {% endfor %}
				              </tbody>
				            </table>
		  				</div>
		  			</div>
  				</div>
  			</div>
		  </div>
    </div>
{% endblock content %}