{% extends 'JtdiTASKS/base.html' %} {% load staticfiles %} {% block content %}
<div id="page-wrapper">
		  <div class="header">
                        <h1 class="page-header">
                            Детали задачи
                        </h1>
        </div>
            <div id="page-inner">
            <div class="row">
        <div class="col-md-6">
            <div class="card">
                        <div class="card-action">
                            Задача
                        </div>
                        <div class="card-content">
                    <!--<form action="">-->
                        <fieldset>

                            <div class="form-group">
                                <a href="{% url 'task_finish' pk=task.pk %}" data-rel="collapse"><i class="glyphicon glyphicon-flag"></i></a>
                                {% task_menu request task=task.pk user=user%}
                            <div class="form-group">
                                <label>Заголовок задачи</label>
                                <input class="form-control" placeholder="Заголовок задачи" type="text" maxlength=1000 value="{{ task.title }}" readonly> </div>
                            <div class="form-group">
                                <label>Расшифровка</label>
                                <textarea class="form-control" placeholder="Расшифровка" rows="3" readonly> "{{ task.description }}" </textarea>
                            </div>
                            <div class="form-group">
                                <label>Дата начала</label>
                                {{ task.date }}
                            </div>
                            <div class="form-group">
                                <label>Время начала</label>
                                {{ task.time }}
                            </div>
                            <div class="form-group">
                                <label>Дата завершения</label>
                                {{ task.date_time_finish }}
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input type="checkbox" value="{{ task.repeating }}">
                                    <label for="{{ task.repeating.auto_id }}">Повторяющаяся</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input type="checkbox" value="{{ task.remind }}">
                                    <label for="{{ task.remind.auto_id }}">Не напоминать</label>
                                </div>
                            </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
            </div>
</div> {% endblock content %}