{% extends 'JtdiTASKS/base.html' %} {% load bootstrap %} {% load staticfiles %} {% block content %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Детали задачи</div>
                    <div class="panel-options"> <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a> <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a> </div>
                </div>
                <div class="panel-body">
                    <form action="">
                        <fieldset>
                            <div class="form-group">
                    <form method="POST" class="form"> {% csrf_token %}
                        <div class="form-group"> {{ form|bootstrap }} </div>
                        <button type="submit" class="save btn btn-default">Сохранить</button>
                    </form></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> {% endblock content %}