{% load widget_tweaks %}{% load static %}

<form method="post" action="{% url 'task_create' %}" class="task-create-form" param="{{ param }}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Создание задачи</h4>
  </div>
  <div class="modal-body">
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
      {% if field.name == 'repeating' or  field.name == 'remind' %}
          {% render_field field class="form-control" %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
      {% endif %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    {% verbatim %} <span>Распознано как:</span> <b id="parse"></b>
                                <br/> <span>Дата:</span> <b id="parse_date"></b> {% endverbatim %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>
</form>

