*.pyc
__pycache__
myvenv
db.sqlite3
.DS_Store
.idea/dataSources/31fd862a-9dc7-4b1a-9434-a7004446589a/_src_/
.idea/dataSources/31fd862a-9dc7-4b1a-9434-a7004446589a/_staging_/
.idea/dataSources/a8e095fa-b76a-423b-8d9b-31962e17fb50/_src_/
.idea/dataSources/a8e095fa-b76a-423b-8d9b-31962e17fb50/_staging_/
.idea/inspectionProfiles/
Would skip repository JTDI/
jtdi_venv
