<li class="dd-item" data-id="50">
      <h3 class="title dd-handle" >Кольцевые задачи<i class=" material-icons ">filter_none</i></h3>
        <div class="text" contenteditable="true">с несколькими пунктами и выполняющиеся как повторяющиеся, с отображением круговой диаграммы

     </div> <i class="material-icons" id="label blue">label</i><div class="actions">
        <i class="material-icons" id="color">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i class="material-icons">attach_file</i></div>

</li>