<li class="dd-item" data-id="1">
    <h3 class="title dd-handle"><i class=" material-icons ">filter_none</i>Кольцевые задачи</h3>
    <div class="text" contenteditable="true">с несколькими пунктами и выполняющиеся как повторяющиеся, с отображением круговой диаграммы
    </div>
    <i class="material-icons" id="task_menu">menu</i>
    <div class="actions">
        <i class="material-icons" id="color">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i class="material-icons">attach_file</i>
    </div>
</li>