<ol class="kanban progress">
    <h2 class="h2_kanban"><i class="material-icons">build</i> В процессе</h2>
      <li class="dd-item" data-id="5">
      <h3 class="title dd-handle"><i class=" material-icons ">filter_none</i>  Задача при завершении</h3>
        <div class="text" contenteditable="true">Повторяющаяся задача должна пересоздаваться</div><div class="actions">
        <i class="material-icons">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i class="material-icons">attach_file</i></div>

    </li>
</ol>