{% load widget_tweaks %}{% load static %}

<form method="post" action="{% url 'note_create_update' pk=pk%}" class="ui form" id="note_create_form">
  {% csrf_token %}<h4 class="modal-title">Заметка</h4>

    {% for field in form %}
      <div class="{% if field.errors %} has-error{% endif %}">
      {% if field.name == 'repeating' or  field.name == 'remind' %}
          {% render_field field class="field" %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="field" %}
      {% endif %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

    <button type="button"  class="ui black deny button" onclick="CloseModal()">Закрыть</button>
    <button type="submit" class="ui positive right labeled icon button">Сохранить</button>

</form>

