{% load staticfiles %}
<div class="scrolling content">
    <div class="ui segment">
        <div class="ui large feed">
            {% for event in notify_tasks %}
                <div class="event">
                    <div class="label">
                        <img src="{{ event.avatar }}">
                    </div>
                    <div class="content">
                        <div class="summary"><a>{{ event.user.username }}</a>
                            <div class="date">{{ event.time }}</div>
                        </div>
                        <div class="extra text">{{ event.msg }}
                        </div>
                        <div class="meta">
                            {#                        <a class="like"><i class="like icon"></i> 5 Likes </a>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>