{% load staticfiles %}
<div class="ui center aligned segment">
    <div class="ui center aligned feed">
        <div class="event">
            <div class="label">
                <img src="/images/avatar/small/elliot.jpg">
            </div>
            <div class="content">
                <div class="summary"><a class="user"> Elliot Fu </a> added you as a friend
                    <div class="date">1 час назад</div>
                </div>
                <div class="meta">
                    <a class="like"><i class="like icon"></i> 4 Likes </a>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="/images/avatar/small/helen.jpg">
            </div>
            <div class="content">
                <div class="summary"><a>Елена Троянская</a> добавила <a> 2 новых рисунка</a>
                    <div class="date">4 дня назад</div>
                </div>
                <div class="extra images">
                    <a><img src="/images/wireframe/image.png"></a>
                    <a><img src="/images/wireframe/image.png"></a>
                </div>
                <div class="meta">
                    <a class="like"><i class="like icon"></i> 1 Like </a>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="/images/avatar/small/jenny.jpg">
            </div>
            <div class="content">
                <div class="summary"><a class="user"> Дженни Гесс </a> добавила вас в друзья
                    <div class="date">2 дня назад</div>
                </div>
                <div class="meta">
                    <a class="like"><i class="like icon"></i> 8 Likes </a>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="/images/avatar/small/joe.jpg">
            </div>
            <div class="content">
                <div class="summary"><a>Антон Зайцев</a> написал на этой странице
                    <div class="date">3 дня назад</div>
                </div>
                <div class="extra text">Ours is a life of constant reruns. We're always circling back to where
                    we'd
                    we
                    started, then starting all over again. Even if we don't run extra laps that day, we surely
                    will
                    come
                    back for more of the same another day soon.
                </div>
                <div class="meta">
                    <a class="like"><i class="like icon"></i> 5 Likes </a>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="/images/avatar/small/justen.jpg">
            </div>
            <div class="content">
                <div class="summary"><a>Мария Леонова</a> добавила <a>2 новых фотографии</a> с вами
                    <div class="date">4 дня назад</div>
                </div>
                <div class="extra images">
                    <a><img src="/images/wireframe/image.png"></a>
                    <a><img src="/images/wireframe/image.png"></a>
                </div>
                <div class="meta">
                    <a class="like"><i class="like icon"></i> 41 Likes </a>
                </div>
            </div>
        </div>
    </div>
</div>