{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            <p>Please specify your email address to receive instructions for resetting it.</p>
        </h1>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                            <div class="card-action">
                            </div>
                            <div class="card-content">

<fieldset>
                                    <div class="form-group">
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
                                    </div>
</fieldset>
                            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}