{% extends 'JtdiTASKS/base.html' %}
{% load googlecharts %}
{% load staticfiles %}
{% block content %}

		  <div class="col-md-10">
            <div class="row">
  				<div class="col-md-12">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Завершенные задачи</div>

							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
                            <div class="table-responsive">
		  					<table class="table">
				              <thead>

				                <tr>
				                  <th>Задача</th>
				                  <th>Расшифровка</th>
				                  <th>Дата начала</th>
                                  <th> </th>
                                  <th>Время начала</th>
                                  <th>Дата завершения</th>
				                </tr>
				              </thead>
				              <tbody>
                              {% for task in tasks %}
                                <tr>

                                    <td><i class="glyphicon glyphicon-ok"></i><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></td>
                                    <td>{{ task.description|linebreaksbr }}</td>
                                    <td>{{ task.date }}</td>
                                    {% if task.repeating %}
                                        <td><i class="glyphicon glyphicon-refresh"></i></td>
                                    {% else %}
                                        <td>  </td>
                                    {% endif %}
                                    <td>{{ task.time }}</td>
                                    <td>{{ task.date_time_finish }}</td>
                                    <td><a href="{% url 'task_restore' pk=task.pk %}" data-rel="collapse" title="Восстановить задачу">
                                        <i class="glyphicon glyphicon-backward"></i></a></td>
                                    <td><a href="{% url 'task_del' pk=task.pk %}" data-rel="collapse" title="Удалить задачу">
                                        <i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                              {% endfor %}
				              </tbody>
				            </table>
                            </div>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if tasks.has_previous %}
                                        <a href="?page={{ tasks.previous_page_number }}">предыдущая</a>
                                    {% endif %}

                                    <span class="current">
                                        Страница {{ tasks.number }} из {{ tasks.paginator.num_pages }}.
                                    </span>

                                    {% if tasks.has_next %}
                                        <a href="?page={{ tasks.next_page_number }}">следущая</a>
                                    {% endif %}
                                </span>
                            </div>
		  				</div>
		  			</div>
  				</div>
  			</div>
		  </div>
    <!--</div>-->
{% endblock content %}