{% extends 'JtdiTASKS/base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}
 <div class="col-md-10">
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title">Пригласить пользователя</div>

					            <div class="panel-options">
					              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
					              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					            </div>
					        </div>
			  				<div class="panel-body">
			  					<form method="POST" class="form">
                                    <fieldset>
								  <div class="form-group">
								        {% csrf_token %}
                                        {{ invite_form|bootstrap }}
								  </div>
                                </fieldset>
                                <button type="submit" class="btn btn-primary">Пригласить</button>
								</form>
			  				</div>
			  			</div>
	  				</div>
                    <div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Мои приглашения</div>

							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
                        <div class="table-responsive">
		  					<table class="table table-striped">
				              <thead>
				                <tr>
				                  <th>Пользователь</th>
				                  <th>Статус</th>
				                </tr>
				              </thead>
				              <tbody>
				                {% for invite in my_invites %}
                                <tr>
                                    <td>{{ invite.user_sender }}</td>
                                    <td>{% if invite.invited and not invite.not_invited%}Принято{% elif not invite.invited and invite.not_invited%}Отклонен{% elif not invite.invited and not invite.not_invited%}Ожидает{% endif %}</td>
                                    <td>{% if not invite.invited and not invite.not_invited%}
                                        <a href="{% url 'invited' pk=invite.pk %}" data-rel="collapse" title="Принять">
                                        <i class="glyphicon glyphicon-ok" style="color: {{ task.color }}"></i></a>{% endif %}</td>
                                    <td><a href="{% url 'not_invited' pk=invite.pk %}" data-rel="collapse" title="Отклонить">
                                        <i class="glyphicon glyphicon-remove-circle"></i></a></td>
                                </tr>
                              {% endfor %}
				              </tbody>
				            </table>
                        </div>
		  				</div>
		  			</div>
                    <div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Приглашения от меня</div>

							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
                        <div class="table-responsive">
		  					<table class="table table-striped">
				              <thead>
				                <tr>
				                  <th>Пользователь</th>
				                  <th>Статус</th>
				                </tr>
				              </thead>
				              <tbody>
				                {% for invite in invites %}
                                <tr>
                                    <td>{{ invite.user_invite }}</td>
                                    <td>{% if invite.invited and not invite.not_invited%}Принято{% elif not invite.invited and invite.not_invited%}Отклонен{% elif not invite.invited and not invite.not_invited%}Ожидает{% endif %}</td>
                                    <td><a href="{% url 'not_invited' pk=invite.pk %}" data-rel="collapse" title="Выгнать">
                                        <i class="glyphicon glyphicon-remove-circle"></i></a></td>
                                </tr>
                              {% endfor %}
				              </tbody>
				            </table>
                        </div>
		  				</div>
		  			</div>
  				</div>
                </div>
 </div>

{% endblock content %}