{% extends 'JtdiTASKS/base.html' %} {% load staticfiles %} {% block content %}
    <div class="ui fluid card">
        <div class="content">
            <div class="ui huge header">Завершенные задачи</div>

            <div class="ui hidden divider"></div>

            {#    <div class="ui stackable grid">#}
            <div id="TasksFinished">
                <table class="ui celled table" id="TasksTablesFinished">
                    <thead>
                    <tr>
                        <th>Задача</th>
                        <th>Расшифровка</th>
                        <th>Проект</th>
                        <th>Исполнитель</th>
                        <th>Дата начала</th>
                        <th></th>
                        <th>Время начала</th>
                        <th>Дата завершения</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody> {% for task in tasks %}
                        <tr class="odd gradeX" style="background-color: #bcffb873">
                            <td><a href="#" data-url="{% url 'task_det' pk=task.pk %}" id="detail"
                                   onclick="TaskDetail('{% url 'task_det' pk=task.pk %}', 'finished'), 'finished'"
                                   data-toggle="modal" data-target="#modal-task"> <i class="checkmark icon"></i>
                                {{ task.title|truncatechars:40 }}</a></td>
                            <td>{{ task.description|truncatechars:50 }}</td>
                            {% if task.project is not None %}
                                <td>
                                    <a href="{% url 'project_tasks_list' pk=task.project.pk %}">{{ task.project }}</a>
                                </td> {% else %}
                                <td><a href="">{{ task.project }}</a></td> {% endif %}
                            <td>{{ task.performer }}</td>
                            <td>{{ task.date }}</td> {% if task.repeating %}
                            <td><i class="glyphicon glyphicon-refresh"></i></td> {% else %}
                            <td></td> {% endif %}
                            <td>{{ task.time }}</td>
                            <td>{{ task.date_time_finish }}</td>
                            <td>
                                <a href="#"
                                   onclick="UniversalFun('{% url 'task_restore' pk=task.pk %}', 'finished')"
                                   title="Восстановить задачу">
                                    <i class="repeat icon"></i></a>
                            </td>
                            <td>
                                <a href=# onclick="UpdateTask('{% url 'task_copy' pk=task.pk %}')"
                                   data-toggle="modal"
                                   data-target="#modal-task"
                                   title="Скопировать задачу"> <i class="copy icon"
                                                                  aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#"
                                   onclick="UniversalFun('{% url 'task_del' pk=task.pk %}', 'finished')"
                                   title="Удалить задачу">
                                    <i class="trash icon"></i></a>
                            </td>
                        </tr> {% endfor %} </tbody>
                </table>
            </div>
            {#    </div>#}
            {#    <p>#}
            {#        <button type="button" class="btn-floating red create-task" data-toggle="modal"#}
            {#                data-target="#modal-task" onclick="UpdateTask('{% url 'task_create' %}', '')">#}
            {#            <span class="glyphicon glyphicon-plus-sign"></span>#}
            {#        </button>#}
            {##}
            {#    </p>#}
            <button class="ui icon button" onclick="UpdateTask('{% url 'task_create' %}')">
                <i class="add circle icon"></i>
            </button>
        </div>
    </div>

    <div id="views" views="finished"></div>
{% endblock content %}
<script>
    $(document).ready(function () {
        $('#TasksTablesFinished').dataTable({pageLength:{{ count_visible_tasks}}});
    });
</script>