{% extends 'JtdiTASKS/base.html' %} {% load bootstrap %} {% load staticfiles %} {% load socialaccount %} {% load i18n %} {% block content %}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
                            Профиль
                        </h1> </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-action"> Профиль </div>
                    <div class="card-content">
                        <div class="form-group"> {% if accounts %}
                            <p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>
                            <form method="post" action="{% url 'socialaccount_connections' %}"> {% csrf_token %}
                                <fieldset> {% if form.non_field_errors %}
                                    <div id="errorMsg">{{ form.non_field_errors }}</div> {% endif %} {% for base_account in accounts %} {% with base_account.get_provider_account as account %}
                                    <div>
                                        <label for="id_account_{{ base_account.id }}">
                                            <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}" /> <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span> {{ account }} </label>
                                    </div> {% endwith %} {% endfor %}
                                    <div>
                                        <button type="submit">{% trans 'Remove' %}</button>
                                    </div>
                                </fieldset>
                            </form> {% else %}
                            <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p> {% endif %}
                            <h4>{% trans 'Add a 3rd Party Account' %}</h4>
                            <ul class="socialaccount_providers"> {% include "JtdiTASKS/views/provider_list.html" with process="connect" %} </ul>
                        </div>
                        <form method="post" enctype="multipart/form-data" action=""> {% csrf_token %}
                            <div class="form-group"> {{ user_form|bootstrap }} {{ profile_form|bootstrap }}</div>
                            <div class="form-group"> {% if user.profile.avatar %} <img src="{{ user.profile.avatar.url }}" class="profile-image img-circle" width="100" height="100"> {% else %} {% endif %} </div>
                            <div class="action">
                                <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-action"> <b>Потраченое время на задачи</b> </div>
                            <div class="card-image">
                                <div class="collection"> {% for task in task_time %}
                                     <a href="#"  data-url="{% url 'task_det' pk=task.0.pk %}" id="detail" onclick="TaskDetail('{% url 'task_det' pk=task.0.pk %}')"
                                            data-toggle="modal" data-target="#modal-task" class="collection-item">
                                            {{ task.0.title|truncatechars:40 }}
                                         <span class="badge" data-badge-caption="">{{ task.1.full_time__sum }}</span>
                                     </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endblock content %}