{% extends 'JtdiTASKS/base.html' %} {% load staticfiles %} {% block content %}
    <div class="ui mini top attached tabular menu" style="margin-top: 0.2rem;">
        <a class="item red active" data-tab="TableTask">Таблица задач</a>
        <a class="item green" data-tab="Finished">Завершенные задачи</a>
        <a class="item purple" data-tab="StoryLine" onclick="getStory({{ project }})">История проекта</a>
        <a class="item blue" data-tab="InfoProj" onclick="DonutChart();drawBurndownChart('{% url 'get_burndown_chart' project %}')">Информация</a>
        <a class="item pink" data-tab="Gantt" onclick="drawChartGantt('{% url 'get_data_gantt' project %}')">Таймлайн</a>
        {% project_menu request project project_object users_in_project kanban_view filter_count %}
    </div>

    <div class="ui fluid top attached vertical sidebar menu" id="sidebar_right" style="overflow: visible !important;">
        <select name="assigned" multiple="" class="ui dropdown" id="assigned">
            <option value="">Назначено</option>
            {% for user_in_proj in users_in_project %}
                <option value="{{ user_in_proj.user.pk }}">{{ user_in_proj.user.username }}
                    ({{ user_in_proj.user.first_name }})[{{ user_in_proj.task_count }}]
                </option>

            {% endfor %}
        </select>
    </div>

    {% if not kanban_view %}
        <div id="TaskActive" class="ui bottom attached tab segment active" data-tab="TableTask">
            <table class="ui celled table" id="TasksTables">
                <thead>
                <tr>
                    <th>Задача</th>
                    <th>Расшифровка</th>
                    <th>Дата начала</th>
                    <th>Время начала</th>
                    <th>Дата завершения</th>
                    <th>Исполнитель</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody> {% for task in tasks %}
                    <tr class="odd gradeX">
                        <td><a href="#" id="detail"
                               onclick="TaskDetail('{% url 'task_det' pk=task.pk %}')"
                               data-toggle="modal" data-target="#modal-task">
                            {{ task.title|truncatechars:40 }}</a></td>
                        <td>{{ task.description|truncatechars:50 }}</td>
                        <td>{{ task.date|date:"Y.m.d" }}</td>
                        <td>{{ task.time }}</td>
                        <td>{{ task.planed_date_finish|date:"Y.m.d" }}</td>
                        <td>{{ task.performer }}</td>
                        <td>{{ task.status }}</td>
                        <td>
                            {% if task.performer == user or task.author == user %}
                                <a href="#"
                                   onclick="UniversalFun('{% url 'task_finish' pk=task.pk %}')"
                                   title="Завершить задачу">
                                    <i class="flag icon"
                                       style="color: {{ task.color }}"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a href=# onclick="UpdateTask('{% url 'task_update' pk=task.pk %}')"
                               data-toggle="modal" data-target="#modal-task"
                               title="Редактировать задачу"> <i class="setting icon"></i>
                            </a>
                        </td>
                        <td>
                            <a href=# onclick="UpdateTask('{% url 'task_copy' pk=task.pk %}')"
                               data-toggle="modal"
                               data-target="#modal-task"
                               title="Скопировать задачу"> <i class="copy icon"
                                                              aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            {% if task.author == user or task.project.author == user %}
                                <a href="#"
                                   onclick="UniversalFun('{% url 'task_del' pk=task.pk %}')"
                                   title="Удалить задачу">
                                    <i class="trash icon"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
    {% else %}
        {% kanban request project %}
    {% endif %}
    <div id="Gantt" class="ui bottom attached tab segment" data-tab="Gantt">
        <div id="chart_div"></div>
    </div>
    <div id="StoryLine" class="ui bottom attached tab segment" data-tab="StoryLine">
    </div>
    <div id="Finished" class="ui bottom attached tab segment" data-tab="Finished">

        {#            <div class="ui stackable grid">#}
        <div id="TaskFinished">
            <table class="ui celled table" id="TasksTablesFinished">
                <thead>
                <tr>
                    <th>Задача</th>
                    <th>Расшифровка</th>
                    <th>Проект</th>
                    <th>Исполнитель</th>
                    <th>Дата начала</th>
                    <th></th>
                    <th>Время начала</th>
                    <th>Дата завершения</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody> {% for task in tasks_finish %}
                    <tr class="odd gradeX" style="background-color: #bcffb873">
                        <td><a href="#" data-url="{% url 'task_det' pk=task.pk %}" id="detail"
                               onclick="TaskDetail('{% url 'task_det' pk=task.pk %}', 'finished'), 'finished'"
                               data-toggle="modal" data-target="#modal-task"> <i class="checkmark icon"></i>
                            {{ task.title|truncatechars:40 }}</a></td>
                        <td>{{ task.description|truncatechars:50 }}</td>
                        {% if task.project is not None %}
                            <td>
                                <a href="{% url 'project_tasks_list' pk=task.project.pk %}">{{ task.project }}</a>
                            </td> {% else %}
                            <td><a href="">{{ task.project }}</a></td> {% endif %}
                        <td>{{ task.performer }}</td>
                        <td>{{ task.date }}</td> {% if task.repeating %}
                        <td><i class="refresh icon"></i></td> {% else %}
                        <td></td> {% endif %}
                        <td>{{ task.time }}</td>
                        <td>{{ task.date_time_finish }}</td>
                        <td>
                            <a href="#"
                               onclick="UniversalFun('{% url 'task_restore' pk=task.pk %}', 'finished')"
                               title="Восстановить задачу">
                                <i class="backward icon"></i></a>
                        </td>
                        <td>
                            <a href=# onclick="UpdateTask('{% url 'task_copy' pk=task.pk %}')"
                               data-toggle="modal"
                               data-target="#modal-task"
                               title="Скопировать задачу"> <i class="copy icon"
                                                              aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#"
                               onclick="UniversalFun('{% url 'task_del' pk=task.pk %}', 'finished')"
                               title="Удалить задачу">
                                <i class="trash icon"></i></a>
                        </td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
    </div>
    <div id="InfoProj" class="ui bottom attached tab segment" data-tab="InfoProj">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="card-image donutpad">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <div class="card-action"><b>Основные показатели проекта</b></div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div id="burndown_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5">
        <div id="url_ajax_chart" url_ajax_chart="{% url 'get_index_project' project %}"></div>
    </div>
    </div>

    {#    <button class="ui icon red attached top button" onclick="UpdateTask('{% url 'task_create' %}')">#}
    {#        <i class="add circle icon"></i>Добавить задачу#}
    {#    </button>#}


    <div id="views" views="projects"></div>
    <div id="project" project="{{ project }}"></div>
{% endblock content %}>