{% load staticfiles %}
{#{% load googlecharts %} {% load bootstrap %} #}
{% if user.is_authenticated %}
    <div class="ui mini inverted top fixed menu">
        <a class="item" onclick="OpenSidebarLeft()"><i class="sidebar icon"></i></a>
        <div class='ui just item'>
            <img class='ui tiny cascaid image' src="/static/img/logo_header.svg">
        </div>
        <div class="inverted menu">
            <div class="ui right aligned category search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Поиск задач...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="right menu">
            <div class="ui dropdown item"><i class="user icon"></i>{{ user.username }} <i class="dropdown icon"></i>
                <div class="menu">
                    {% if user.profile.avatar %}
                        <a class="item" href={% url 'profile' %}> <img src="{{ user.profile.avatar.url }}"
                                                                       class="ui avatar image" width="40" height="40"
                                                                       border="20"> Профиль </a>
                    {% else %}
                        <a class="item" href={% url 'profile' %}> <img src="/static/img/avatar_2x.png"
                                                                       class="ui avatar image" width="40" height="40"
                                                                       border="20"> Профиль</a>
                    {% endif %}
                    <a class="item" href="{% url 'user_invite' %}"><i class="fa fa-gear fa-fw"></i> Участники
                        проектов</a>
                    <a class="item" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                </div>
            </div>
            <div class="ui dropdown item" onclick="GetNotificationsList(jQuery(this))"><i class="alarm icon"></i>
                <div class="tab_counter_top" id="all_notify">{{ notify }}</div>
{#            </i> <i class="dropdown icon"></i>#}
                <div class="ui vertical menu" id="notify_list">

                    <div class="item">
                        <div class="ui attached bottom primary button" onclick="switchStoryTab()">Показать все</div>
                    </div>
                </div>
            </div>
            <div class="ui dropdown icon item">
                <i class="add circle icon"></i>
                <div class="menu">
                    <div class="item" onclick="UpdateTask('{% url 'task_create' %}')"><i class="tasks icon"></i> Создать
                        задачу
                    </div>
                    <div class="item" onclick="UpdateNote('/note_create_update/0/')"><i class="sticky note icon"></i>
                        Создать заметку
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}