{% load widget_tweaks %}
{% for project_item in projects %}
    <a class="item" href="{% url 'project_tasks_list' pk=project_item.pk %}"><i class="trello icon"
                                                                                style="{{ project_item.color_project }}"></i>
        {{ project_item.title }}</a>
{% endfor %}
<div class="divider"></div>
<div class="ui form" id="project_create" data-tooltip="Введите наименование проекта">
    <form method="post" action="{% url 'project_create' %}" class="project_create_form">
        {% csrf_token %}
        {% for field in project_form %}
            <div class="ui fluid action input {% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field %}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}

        {% endfor %}
        <button type="submit" class="ui teal right icon button"><i class="add circle icon"></i></button>
        </div>
    </form>
</div>